.event-details-form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder,
textarea::placeholder {
  font-family: "Arial", sans-serif;
}

.form-title {
  margin-bottom: 15px;
  font-size: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 120px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ddd;
  border-radius: 5px;
  height: 95px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-box:hover {
  border-color: #007bff;
  background-color: #f7f7f7;
}

.upload-box span {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.upload-box p {
  font-size: 12px;
  color: #666;
}

.upload-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.voting-round-dropdown {
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.section-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.voting-setup {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.confirm-btn {
  display: block;
  margin: 20px 0px;
  align-items: right;
  padding: 10px 35px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #0056b3;
}

.voting-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.voting-form-field {
  margin-bottom: 10px;
}

.voting {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}