@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.sidebar {
  width: 250px;
  background-color: #f7f9fc;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease, background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden; 
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .sidebar-logo {
  width: 45px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.collapse-button {
  background-color: #028248;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  position: absolute;
  right: -10px;
  bottom: 20px;
}

.collapse-button:hover {
  background-color: #40a9ff;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sidebar-logo {
  width: 140px;
  transition: width 0.3s ease;
}

.merchant-name {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .merchant-name {
  display: none;
}

.menu {
  margin-top: 10px;
  padding: 0 16px;
  overflow-y: auto; 
  flex-grow: 1; 
}

/* Ensure the scrollbar is visible and styled */
.menu::-webkit-scrollbar {
  width: 8px;
}

.menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #454545;
  transition: background-color 0.3s ease-in-out, padding-left 0.2s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #e6f7ff;
  padding-left: 20px;
}

.menu-item.active {
  background-color: #028248;
  color: white;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
}

.menu-icon {
  margin-right: 10px;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #028248;
}

.menu-item.active .menu-icon {
  color: white;
}

.menu-text {
  transition: opacity 0.3s ease, margin-left 0.3s ease;
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 7px;
}

.sidebar.collapsed .menu-text {
  display: none;
}

.sidebar.collapsed .menu-icon {
  display: block;
}

.sidebar.collapsed .menu-section {
  display: none;
}

.menu-section {
  font-size: 14px;
  color: #8c8c8c;
  margin: 16px 0 8px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

/* Mobile Logout Button */
.mobile-logout {
  display: none; 
}

@media (max-width: 768px) {
  .mobile-logout {
    display: block; 
    margin-top: auto; 
    /* padding: 14px; */
    margin-bottom: 80px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    background-color: #028248; 
    border-radius: 6px;
  }

  .log {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;
    color: #fff; 
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 111;
  }

  .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  .logout-text {
    color: #fff; 
  }
}

/* Mobile-Responsive Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 70%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 100vh;
    background-color: #f9f9f9;
    transition: width 0.3s ease, opacity 0.3s ease;
    margin-top: 85px;
  }

  .sidebar.open {
    display: flex;
  }

  .sidebar.collapsed {
    width: 80%;
  }

  .sidebar-logo {
    width: 150px;
    transition: width 0.3s ease;
  }

  .collapse-button {
    margin-left: auto;
  }

  .menu-item {
    font-size: 14px;
    transition: font-size 0.3s ease, padding-left 0.2s ease;
  }

  .menu-section {
    font-size: 14px;
    color: #8c8c8c;
    margin: 16px 0 8px;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }

  .collapse-button {
    display: none;
  }

  .menu-ico{
    margin-left: 55px;
  }

  .log .menu-ico {
    color: #fff;
    margin-right: 10px; 
  }
}

/* Hamburger Menu for Mobile */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 24px;
    color: #000;
    transition: color 0.3s ease;
  }
}

.menu-item.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}